@font-face {
    font-family: Norse-Bold;
    src: url("Norse-Bold.otf") format("opentype");
}

body {
    display: flex;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    background-image: url("image.jpg");
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.logo-bg {
    background-color: rgba(0, 0, 0, 50%);
    margin-top: 22vh;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Norse-Bold;
    font-size: 90px;
    color: white;
}

.logo {
    height: 12vh;
    opacity: 100%;
}

footer {
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 8px;
}

.site {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 100vh;
}

.back {
    background-color: whitesmoke;
    flex: 1;
}

.text {
    font-weight: 600;
    padding: 3vw;
    padding-top: 15vh;
    font-size: 22px;
    width: 55ch;
}

.front {
    background-color: white;
    flex: 1;
    padding: 3vh 3vw;
    box-shadow: 6px 6px 6px gainsboro;
}

input {
  display: block;
  box-sizing: border-box;
  width: 60%;
  height: 30px;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.form {
    display: flex;
    margin: 20px 0px;
}

.left, .right {
    flex: 1;
}

label {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .2em;
    color: rgb(70, 70, 70);
}

h2 {
    margin: 0;
}

input:focus {
    outline: none;
    border: 1px solid royalblue;
    box-shadow: 4px 4px 4px gainsboro;
}

.error {
    border: 1px solid crimson;
}

form {
    position: relative;
}

button {
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    /* padding: 16px 48px; */
    width: min(250px, 30vw);
    height: 48px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: -135px;
    box-shadow: 4px 4px 4px gainsboro;
}

.already {
    font-size: 16px;
    padding: 12vh 3vw;
}

.already > b {
    color: #596D48;
}