@font-face {
    font-family: Norse-Bold;
    src: url("Norse-Bold.otf") format("opentype");
}

body {
    display: flex;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    background-image: url("image.jpg");
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.logo-bg {
    background-color: rgba(0, 0, 0, 50%);
    margin-top: 22vh;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Norse-Bold;
    font-size: 90px;
    color: white;
}

.logo {
    height: 12vh;
    opacity: 100%;
}

footer {
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 8px;
}

.site {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 100vh;
}

.top {
    background-color: whitesmoke;
    flex: 1;
}

.text {
    font-weight: 600;
    padding: 3vw;
    padding-top: 15vh;
    font-size: 22px;
    width: 55ch;
}

.mid {
    background-color: bisque;
    flex: 1;
}

.bottom {
    background-color: powderblue;
    flex: 1;
}